

<div class="container">
  <h1>Create Form</h1>
  <form (ngSubmit)="submit(createCar)" [formGroup]="createCar" #validCar="ngForm">
    <div class="form-group">
      <label for="username">Title</label>
      <input type="text" class="form-control" id="title" 
      required
      formControlName = 'title'
      >
      <div *ngIf="createCar.get('title').errors" style="color:red">
        Input Required
      </div>
 
    </div>
    <div class="form-group">
      <label for="username">Description</label>
      <input type="text" class="form-control" id="description" 
      required
      formControlName="description"
      >
      <div *ngIf="createCar.get('description').errors" style="color:red">
        Input Required
      </div>
     
    </div>
      <div class="form-group">
        <label for="category">Категория</label>
          <select class="form-control" 
            id="category"
            required
            formControlName="category"
            >
              <option *ngFor="let category of categories"     		  	[value]="category">{{category}}</option>
          </select>
      </div>
   
    <div class="form-group">
      <label for="url1">Link 1</label>
      <input type="text" class="form-control" id="url1" 
      required
      formControlName="url1"
      >
      <div *ngIf="createCar.get('url1').errors" style="color:red">
        Input Required
      </div>
     
    </div>
    <div class="form-group">
      <label for="url2">Link 2</label>
      <input type="text" class="form-control" id="url2" 
      required
      formControlName="url2"
      >
      <div *ngIf="createCar.get('url2').errors" style="color:red">
        Input Required
      </div>
     
    </div>
    <div class="form-group">
      <label for="url3">Link 3</label>
      <input type="text" class="form-control" id="url3" 
      formControlName="url3"
      >
    </div>
    <div class="form-group">
      <label for="url4">Link 4</label>
      <input type="text" class="form-control" id="url4" 
      formControlName="url4"
      >
    </div>
    <div class="form-group">
      <label for="url5">Link 5</label>
      <input type="text" class="form-control" id="url5" 
      formControlName="url5"
      >
    </div>
    <div class="form-group">
      <label for="url6">Link 6</label>
      <input type="text" class="form-control" id="url6" 
      formControlName="url6"
      >
    </div>
    <button [disabled]="!validCar.form.valid" type="submit" class="btn btn-success">Create</button> 
  </form>
  </div>
  