<carousel>
  <slide>
    <img src="http://st.motortrend.com/uploads/sites/5/2017/07/2018-Mercedes-Benz-S500-interior-02.jpg" alt="First slide" >
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>S class 2017</p>
    </div>
  </slide>
  <slide>
      <img src="https://assets.mbusa.com/vcm/MB/DigitalAssets/Vehicles/ClassLanding/2015/S/Coupe/Gallery/2015-S-CLASS-COUPE-GALLERY-003-WR-D.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="http://st.automobilemag.com/uploads/sites/11/2017/02/2017-Bentley-Continental-Supersports-interior-03.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>