.example-card{
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 400px;
}
  .mat-card-image{
    height: 250px;
    
  }

  .category{
    color: white;
  }

  .panelClass{
    color: white;
    
  }