.example-card {
    width: 400px;
  }
  
  .mat-card-image{
    height: 250px;
    
  }

  .example-card{
      margin-top: 20px;
  }

  .category{
    color: white;
  }

  .panelClass{
    color: white;
    
  }