
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand"  [routerLink]="['/home']" >WebSiteName</a>
          </div>
          <div *ngIf="!authService.isLoggedIn()">
          <ul class="nav navbar-nav navbar-right" >
            <li><a  [routerLink]="['/']">Home</a></li>
            <li><a  [routerLink]="['/cars']">Cars</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/register']">Register</a></li>
            <li><a [routerLink]="['/contacts']">Contacts</a></li>
          </ul>
        </div>
        <div *ngIf="authService.isLoggedIn()">
            <ul class="nav navbar-nav navbar-right" *ngIf="!authService.isAdmin()" >
                <li><a  [routerLink]="['/']">Home</a></li>
                <li><a  [routerLink]="['/cars']">Cars</a></li>
                <li><a [routerLink]="['/logout']">Logout</a></li>
                <li><a [routerLink]="['/contacts']">Contacts</a></li>
              </ul>
          <ul class="nav navbar-nav navbar-right" *ngIf="authService.isAdmin()" >
            <li><a  [routerLink]="['/']">Home</a></li>
            <li><a  [routerLink]="['/cars']">Cars</a></li>
            <li><a [routerLink]="['/create']">Create Car</a></li>
            <li><a [routerLink]="['/logout']">Logout</a></li>
            <li><a [routerLink]="['/contacts']">Contacts</a></li>
          </ul>
        </div>
    </div>
  </nav>