
<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
        <div>
          <h1>Info</h1>
          <div class="info">
                  <h2>some info</h2>
                  <p>Adam's Mystery Box is now available on Amazon! One of Adam's most beloved sales for premium car care products. Purchase as many as you want, every box is different! Mystery boxes include the possibility of receiving at least one or more items from Adam's Polishes entire product arsenal. Each Box includes at least $50 or more worth of products. What's in the box? .... who knows! Could be Adam's Car Shampoo, Tire Shine, Americana Paste Wax, or all the above! Some mystery boxes include an entire Adams Essentials Kit or Swirl Killer Kit!</p>
          </div>
          
        </div>

    </div>

    <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
      <h1 class="textche">Gallery</h1>
      <br/>
      
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages">
      </ngx-gallery>
              
  </div>

</div>
</div>